# Android
**/build
**/app*.apk
local.properties
/app/src/main/res/values-v8/api_keys.xml
.gradle/
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/datasources.ids
.idea/libraries
*~
*.swp
/app/src/main/res/drawable-*v7/*
app/src/main/res/drawable-*/logo_launcher*.png
app/src/main/res/drawable-*/logo_ab*.png
# Upstream
*.o
/Makefile*
/blackbox
/bridges
/cube
/dominosa
/fifteen
/fifteensolver
/filling
/fillingsolver
/flip
/flood
/galaxies
/galaxiespicture
/galaxiessolver
/guess
/inertia
/keen
/keensolver
/latincheck
/lightup
/lightupsolver
/loopy
/loopysolver
/magnets
/magnetssolver
/map
/mapsolver
/mines
/mineobfusc
/net
/netslide
/nullgame
/numgame
/obfusc
/palisade
/path
/pattern
/patternsolver
/pearl
/pearlbench
/pegs
/range
/rect
/samegame
/separate
/signpost
/signpostsolver
/singles
/singlessolver
/sixteen
/slant
/slantsolver
/slide
/slidesolver
/sokoban
/solo
/solosolver
/tents
/tentssolver
/tracks
/towers
/towerssolver
/twiddle
/undead
/unequal
/unequalsolver
/unruly
/unrulysolver
/untangle
/*.exe
/*.obj
/*.map
/*.rsp
/*notes
/HACKING
/*.hlp
/*.cnt
/*.chm
/*.gid
/*.GID
/*.html
/*.mips
/*.class
/*.jar
/applet.manifest
/puzzles.txt
/*.app
/*.dmg
/*.res
/*.inf
/list.c
/gamedesc.txt
/build.log
/build.out
/org
/*.ppc
/*.i386
/Puzzles.ppc.bin
/Puzzles.i386.bin
/version2.def
/preprocessed.but
/*.a
/aclocal.m4
/config.log
/config.status
/configure
/depcomp
/empty.h
/install-sh
/missing
/compile
/.deps
/.dirstamp
/icons/*.png
/icons/*.ico
/icons/*.rc
/icons/*-icon.c
/icons/.deps
/icons/.dirstamp
/unfinished/divvy
/unfinished/group
/unfinished/numgame
/unfinished/path
/unfinished/pearl
/unfinished/separate
/unfinished/slide
/unfinished/sokoban
