<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Puzzles.icns</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Puzzles Help</string>
	<key>CFBundleName</key>
	<string>Puzzles</string>
	<key>CFBundleDisplayName</key>
	<string>Puzzles</string>
	<key>CFBundleExecutable</key>
	<string>Puzzles</string>
	<key>CFBundleVersion</key>
	<string>Unidentified build</string>
	<key>CFBundleShortVersionString</key>
	<string>Unidentified build</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>uk.org.greenend.chiark.sgtatham.puzzles</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSHumanReadableCopyright</key>
	<string>This software is copyright (c) 2004-2014 Simon Tatham</string>
</dict>
</plist>
