<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="name.boyle.chris.sgtpuzzles"
      android:versionCode="40"
      android:versionName="8887.1">
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="7"/>
    <!-- You must be able to navigate and enter numbers, so: { 5-way and keyboard } or touchscreen -->
    <uses-configuration android:reqFiveWayNav="true" android:reqKeyboardType="qwerty" />
    <uses-configuration android:reqFiveWayNav="true" android:reqKeyboardType="twelvekey" />
    <uses-configuration android:reqTouchScreen="finger" />
    <supports-screens
          android:largeScreens="true"
          android:normalScreens="true"
          android:smallScreens="true"
          android:anyDensity="true" />
    <!-- For saved games -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- For crash reports -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".SGTPuzzles" android:windowSoftInputMode="adjustPan"
                  android:label="@string/app_name" android:stateNotNeeded="true" android:launchMode="singleTask" android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CrashHandler" android:process=":CrashHandler" android:stateNotNeeded="true" android:exported="false" android:configChanges="keyboard|keyboardHidden|orientation">
        </activity>
    </application>
</manifest>
