<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="name.boyle.chris.sgtpuzzles"
      android:installLocation="auto" tools:ignore="UnusedAttribute"
      android:versionCode="75" android:versionName="10196.1" xmlns:tools="http://schemas.android.com/tools">
    <!-- You must be able to navigate and enter numbers, so: { 5-way and keyboard } or touchscreen -->
    <uses-configuration android:reqFiveWayNav="true" android:reqKeyboardType="qwerty" />
    <uses-configuration android:reqFiveWayNav="true" android:reqKeyboardType="twelvekey" />
    <uses-configuration android:reqTouchScreen="finger" />
    <supports-screens tools:ignore="UnusedAttribute"
          android:largeScreens="true"
          android:normalScreens="true"
          android:smallScreens="true"
          android:anyDensity="true"/>
    <!-- For saved games -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:icon="@drawable/ic_app" android:logo="@drawable/ic_action_bar"
        android:label="@string/app_name"
        android:backupAgent=".BackupAgent" android:allowBackup="true" tools:ignore="UnusedAttribute">
        <activity android:name=".SGTPuzzles" android:theme="@style/SolidActionBar.Gameplay"
                  android:windowSoftInputMode="adjustPan"
                  android:label="@string/app_name" android:stateNotNeeded="true"
                  android:launchMode="singleTask"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="sgtpuzzles" />
            </intent-filter>
        </activity>
        <activity android:name=".GameChooser" android:theme="@style/SolidActionBar"
                  android:launchMode="singleTask"
                  android:label="@string/app_name" android:stateNotNeeded="true"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <data android:scheme="sgtpuzzles" />
            </intent-filter>
        </activity>
        <activity android:name=".PrefsActivity" android:theme="@style/SolidActionBar"
                  android:label="@string/Settings" android:launchMode="singleTask"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:parentActivityName=".SGTPuzzles">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".SGTPuzzles" />
        </activity>
        <activity android:name=".RestartActivity" android:stateNotNeeded="true" android:exported="false" android:theme="@android:style/Theme.NoDisplay" />
        <activity android:name=".SendFeedbackActivity" android:stateNotNeeded="true" android:exported="false" android:theme="@android:style/Theme.NoDisplay" />
        <meta-data android:name="com.google.android.backup.api_key" android:value="@string/backup_api_key" />
    </application>
</manifest>
