<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="name.boyle.chris.sgtpuzzles"
      android:installLocation="auto" tools:ignore="UnusedAttribute"
      xmlns:tools="http://schemas.android.com/tools">
    <supports-screens tools:ignore="UnusedAttribute"
          android:xlargeScreens="true"
          android:largeScreens="true"
          android:normalScreens="true"
          android:smallScreens="true"
          android:anyDensity="true"/>
    <!-- For saved games -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /><!-- needed even after 18 for received Bluetooth files :-( -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />
    <!-- Require something mouse-like, at least for Untangle - and for number-entry games this means you'll have a usable keyboard either on-screen or physically -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.faketouch" android:required="true" />
    <application android:icon="@drawable/icon" android:logo="@drawable/ic_action_bar"
        android:label="@string/app_name"
        android:backupAgent=".BackupAgent" android:allowBackup="true" tools:ignore="AllowBackup,UnusedAttribute">
		<activity android:name=".SGTPuzzles" android:exported="true" android:stateNotNeeded="true" android:theme="@android:style/Theme.NoDisplay">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<data android:scheme="sgtpuzzles" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<action android:name="android.nfc.action.NDEF_DISCOVERED" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:mimeType="text/prs.sgtatham.puzzles" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="file" />
				<data android:scheme="content" />
				<data android:host="*" />
				<!-- File managers' fault; some don't even fall back to application/octet-stream; they just leave it blank -->
				<data android:mimeType="*/*" />
				<!-- PatternMatcher's fault: https://stackoverflow.com/q/3400072/6540 -->
				<data android:pathPattern="/.*\\.sgtp"/>
				<data android:pathPattern="/.*\\.sav"/>
				<data android:pathPattern="/.*\\..*\\.sgtp"/>
				<data android:pathPattern="/.*\\..*\\.sav"/>
				<data android:pathPattern="/.*\\..*\\..*\\.sgtp"/>
				<data android:pathPattern="/.*\\..*\\..*\\.sav"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\.sgtp"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\.sav"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\.sgtp"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\.sav"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\.sgtp"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\.sav"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\.sgtp"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\.sav"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.sgtp"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.sav"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.sgtp"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.sav"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.sgtp"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.sav"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.sgtp"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.sav"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.sgtp"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.sav"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.sgtp"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.sav"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.sgtp"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.sav"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.sgtp"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.sav"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.sgtp"/>
				<data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.sav"/>
			</intent-filter>
		</activity>
		<provider
			android:name=".FixedTypeFileProvider"
			android:authorities="name.boyle.chris.sgtpuzzles.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>
        <activity android:name=".GamePlay" android:exported="false" android:theme="@style/SolidActionBar.Gameplay"
                  android:windowSoftInputMode="adjustPan"
                  android:label="@string/app_name" android:stateNotNeeded="true"
                  android:launchMode="singleTask" android:parentActivityName=".GameChooser"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".GameChooser" />
        </activity>
        <activity android:name=".GameChooser" android:exported="true" android:theme="@style/SolidActionBar"
                  android:launchMode="singleTask"
                  android:label="@string/app_name" android:stateNotNeeded="true"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <data android:scheme="sgtpuzzles" />
            </intent-filter>
        </activity>
        <activity android:name=".PrefsActivity" android:exported="false" android:theme="@style/SolidActionBar"
                  android:label="@string/Settings" android:launchMode="singleTask"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:parentActivityName=".GamePlay">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".SGTPuzzles" />
        </activity>
        <activity android:name=".HelpActivity" android:exported="false" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                  android:label="@string/title_activity_help" android:launchMode="singleTask" >
        </activity>
        <activity android:name=".RestartActivity" android:stateNotNeeded="true" android:exported="false" android:theme="@android:style/Theme.NoDisplay" />
        <activity android:name=".SendFeedbackActivity" android:stateNotNeeded="true" android:exported="false" android:theme="@android:style/Theme.NoDisplay" />
        <meta-data android:name="com.google.android.backup.api_key" android:value="@string/backup_api_key" />
    </application>
</manifest>
